<div id="followers">
    
    {{#each followers}}
    <div class="follower-name-container">
        <a href="/users/{{username}}" target="blank" class="follower-name">{{username}}</a>
    </div>
    {{/each}}
    
</div>