<!DOCTYPE html>
<html lang="en-US">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pawgers</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    </head>

    <body>
    <div class="wrapper">
        <header>
        <h1>
            <a href="/">Pawgers</a>
        </h1>
        <nav>
            {{#if loggedIn}}
            <button id="logout" class="btn-no-style">logout</button>
            {{else}}
            <a href="/login">login</a>
            {{/if}}
            <button id="main-btn" class="btn-no-style">Post your pup</button>
        </nav>
        </header>
        <main>
            <form class="adoption-form" id="adoption-form">
                <label for="breed">Type a dog breed:</label>
                <input type="text" id="breed" value=""><br><br>

                <label for="zip-code">Enter your zip-code:</label>
                <input type="text" id="zip-code" value=""><br><br>

                <span><label for="distance">Search Radius:  </label>Miles</span>
                <input type="text" id="distance" value=""><br>
                
                <p>Gender:
                <input type="checkbox" id="gender-male" name="gender" value="male">
                <label for="gender-male">Male</label>
                <input type="checkbox" id="gender-female" name="gender" value="female">
                <label for="gender-female">Female</label>
                </p>
          
                <p>Details:
                <input type="checkbox" id="kids-yes" name="kids" value="true">
                <label for="kids-yes">Good with kids</label>

                <input type="checkbox" id="cats-yes" name="cats" value="true">
                <label for="cats-yes">Good with cats</label>

                <input type="checkbox" id="house-trained-yes" name="house-trained" value="true">
                <label for="house-trained-yes">House Trained</label><br>
                </p>

                <input type="submit" value="Doggo search">
            </form>
        </main>
        <footer>Thanks for visiting! 🐾</footer>
    </div>
    
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
    <script src="/javascript/pet-finder.js"></script>
    </body>

</html>