<body>
    <form action="adoption/results" method="POST" class="adoption-form" id="adoption-form">
        <label for="breed">Type a dog breed:</label>
        <input type="text" id="breed" name="breed" value="" required><br><br>

        <label for="zip-code">Enter your zip-code:</label>
        <input type="text" id="zipCode" name="zipCode" value="" required pattern="[0-9]{5}"><br><br>

        <label for="distance">Search Radius (Miles):  </label>
        <input type="number" id="distance" name="distance" value="" required min="5" max="500"><br><br>

        <input type="submit" id="form-submit-btn" value="Doggo search">
    </form>
    
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>