{{#if posts.length}}
  <h2 class="ml-4 post-list-header">Posts from users around the world!</h2>

<ul class="post-list">
      {{#each posts as |post|}}
      <li>
        {{> post-info post }}
      </li>
      {{/each}}
    </ul>
{{/if}}