<body>
    <h1>Woof!</h1>
    <p>No doggos found with those options, please try again with different options</p>
    <a href="/adoption">Try A Different Search...</a>
    {{!-- KEVIN, PLEASE PUT SOME COOL 404/error image here --}}
    {{#if loggedIn}}
        <script src="/javascript/logout.js"></script>
    {{/if}}
</body>