<body>
    <h1>Woof!</h1>
    <p>Something went wrong. Please try again...</p>
    <a href="/dashboard">Go Back</a>
    {{!-- KEVIN, PLEASE PUT SOME COOL 404/error image here --}}
    {{#if loggedIn}}
        <script src="/javascript/logout.js"></script>
    {{/if}}
</body>