<body class="oops-page">
    <h1 id="woof">Woof!</h1>
    <img src="/images/Woof.gif"/>
    <p>Paws for a minute... Something went wrong!</p>
    <a href="/dashboard">Go Back</a>
    {{!-- KEVIN, PLEASE PUT SOME COOL 404/error image here --}}
    {{#if loggedIn}}
        <script src="/javascript/logout.js"></script>
    {{/if}}
</body>