<!-- Already Voted Modal -->
<div class="modal fade voted-modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Already Voted</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        You have already voted on this post.
      </div>
      <div class="modal-footer">
        <button type="button" class="adpt-btn btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{{> post-info post}}
{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
    <button class="upvote-btn" type="button" >❤️ Upvote</button>
  </div>

  <div>
    <button class="cmt-btn" type="submit">Add Comment</button>
    
  </div>
</form>
{{> comments post.comments}}
{{/if}}
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}